body {
  font-family: "Tajawal-Regular";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

a:hover {
  text-decoration: none;
}

/* .overflow {
  overflow: hidden;
} */
:root {
  --main-color: #212121;
  --main-hover: #99784d;
}

img {
  image-rendering: -webkit-optimize-contrast;
}
/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover);
}
/*preloader*/
.preloader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.progress {
  position: fixed;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: #f7f7f7;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  padding: 1px;
  color: rgba(255, 255, 255, 100);
  background-image: linear-gradient(
    135deg,
    var(--main-hover),
    var(--main-color)
  );
}

@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: rgba(255, 255, 255, 1);
  }
}
/*preloader*/
/*                          header section                     */

.cat-bars {
 
  font-size: 24px;
  margin-inline-end: 7px;
}
.times2 {
 
  font-size: 24px;
  margin-inline-end: 7px;
}


/*top header*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  transition: all 0.3s ease-in-out;
}
.top-header{
  position: relative;
}
.top-header a {
  text-decoration: none;
}
.show-icons {
  display: flex;
  align-items: center;
}
.show-icons {
  display: none;
}
.show-icons .menu-bars {
  display: none;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 0;
  transition: all 0.3s ease-in-out;
  align-items: center;
}
.menu-link {
  color: rgb(33, 33, 33);
  font-size: 16px;

  transition: all 0.3s ease-in-out;
  font-family: "Tajawal-Bold";
  display: flex;
  align-items: center;
}
.fixed-nav .menu-link {
  color: #fff;
}

.nav-header li a:hover {
  color: var(--main-hover);
}

.nav-header .big-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.navgition {
  display: flex;
}
.counter-names
  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 165px;
}

.slide-menu {
  display: flex;
  align-items: center;
}
.slide-menu-2 {
  position: relative;
}
.slide-menu-2.active i {
  transform: rotate(90deg) !important;
}
.show-icon-2{
  display: flex;
}
.hide-icon-2{
  display: none;
}
.without-arrow:after {
  content: " " !important;
}
.navigation-2{
  opacity: 0;
  visibility: hidden;
}
.reset-left-2 {
  left: 0;
  top: 0;
  clip-path: circle(139.6% at 9% 15%);
  visibility: visible;
  opacity: 1;
}

.cats-dispaly {
  position: absolute;
  left: 0;
  right: 0;

  top: calc(100% + 8px);
  z-index: -1;
  
  width: max-content;
  min-width: 100%;

  background-color: #fff;
  color: rgb(137, 166, 192);
  display: flex;
  justify-content: space-between;
  text-align: start;
  border: none;

  transition: all 0.3s ease-in-out;
}

.cats-div {
  display: flex;
  flex-wrap: wrap;
  max-height: 515px;
  width: 100%;
  padding-inline-start: calc((100vw - 1140px) / 2);
  padding-inline-end: calc((100vw - 1140px) / 2);
  padding-top: 46px;
  padding-bottom: 45px;
  flex-direction: column;
 
}

.cats-dispaly .cat-li {
  margin: 0;

  position: relative;
}
.cat-anchor {
  color: var(--main-color);
  text-decoration: none;
  padding-bottom: 13px;
  font-family: "Tajawal-Regular";
  font-size: 14px;
  display: flex;

  width: 100%;
  align-items: center;

  transition: all 0.3s ease-in-out;
}
.cats-dispaly .cat-li:last-child .cat-anchor {
  padding-bottom: 0;
}

.first-level-link:after {
  font-weight: 900;
  font-family: "Line Awesome Free";
  color: var(--sec-color);
  font-size: 14px;
  position: absolute;
  inset-inline-end: 0;
  top: 0;
  transition: 0.5s;
}
.cat-anchor:hover .first-level-link:after {
  color: var(--main-color);
}
.cat-anchor span {
  transition: 0.5s;

  display: flex;
  flex-wrap: wrap;
 
}
.cat-li{
  max-width: 190px;
    width: 180px
}
.cat-anchor span:hover {
  color: var(--main-hover);
}

.fixed-nav {
  background-color: var(--main-color);
  margin-top: -112px;
  transition: all 0.3s ease-in-out;
}

.fixed-nav .nav-header {
  padding: 10px 0;
}
.fixed-header {
  position: fixed;
}

.fixed-header .fixed-nav {
  margin: 0;
}
.logo {
  max-width: 188px;
  max-height: 54px;
  transition: all 0.3s ease-in-out;
}
.fixed-nav .logo {
  max-width: 125px;
  filter: brightness(0) invert(1);
}

.nav-head {
  width: 100%;
  display: none;
}
.menu-register-link-section {
  display: flex;
  align-items: center;
}
.register-link {
  position: relative;
  border-radius: 22.5px;
  background-color: var(--main-hover);
  color: #fff;
  font-size: 16px;
  font-family: "Tajawal-Bold";
  width: 176px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.5s;
  margin-inline-start: 15px;
}

.register-link:after {
  display: flex;
  background-color: var(--main-hover);
  opacity: 0.102;
  border-radius: 300px;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  content: "";
  z-index: -1;
  margin: auto;
  position: absolute;
  top: 0;
  left: -3px;
  right: -3px;
  bottom: 0;
  width: 179px;
  height: 48px;
}
.register-link:hover {
  color: #fff;
  background-color: var(--main-color);
}
.register-link:hover:after{
  display: flex;
  background-color: var(--main-color);
  opacity: 0.102;
  border-radius: 300px;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  content: "";
  z-index: -1;
  margin: auto;
  position: absolute;
  top: 0;
  left: -3px;
  right: -3px;
  bottom: 0;
  width: 179px;
  height: 48px;
}
.fixed-nav .register-link {
  height: 35px;
  background:var(--main-hover);
}
.fixed-nav .register-link:hover{
  background-color: var(--main-hover);
}
@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

/*                          header section                     */

/*
           main-banner                     */
.main-banner {
  position: relative;
}

.main-banner-img {
  height: 100vh;
  width: 100%;
  max-width: 100%;
}
.main-banner-image {
  width: 100%;

  height: 100vh;
}
.main-banner-img-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2806372549019608) 33%,
    rgba(255, 255, 255, 1) 68%
  );
}
.main-caption-div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-caption {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caption-title {
  font-size: 28px;
  color: var(--main-color);
  margin-bottom: 20px;
  display: flex;
  max-width: 360px;
  font-family: "Tajawal-Bold";
  text-align: center;
  margin-top: 0;
  width: 100%;
  margin-top: 215px;
  line-height: 1.2;
}
.search {
  position: relative;
  margin-bottom: 100px;
}
.search-input {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  width: 749px;
  height: 60px;
  border-radius: 30px;
  border: 2px solid transparent;
  transition: 0.5s;
  display: flex;
  align-items: center;
  outline: none;
  font-size: 16px;
  color: var(--main-color);
  font-family: "Tajawal-Medium";
  padding-inline-start: 32px;
  padding-inline-end: 70px;
  position: relative;
}
.search-input::placeholder {
  font-size: 16px;
  color: rgb(153, 153, 153);
}
.search-input:focus {
  border: 2px solid var(--main-hover);
}
.search-btn {
  position: absolute;
  inset-inline-end: 9px;
  background-color: var(--main-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  top: 9px;
padding: 0;
  border: 0;
  outline: none;
  color: #fff;
  font-size: 24px;
  transform: scaleX(-1);
  transition: 0.5s;
}
.search-btn:hover {
  background-color: var(--main-color);
}
.search-btn:focus {
  outline: none;
}
.most-search-title {
  color: var(--main-color);
  font-size: 22px;
  text-align: center;
  font-family: "Tajawal-Bold";
  margin-bottom: 23px;
}
.cat-slider .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0 30px;
}
.search-list-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-list-icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 235, 228);
  width: 110px;
  height: 110px;
  margin-bottom: 9px;
  transition: 0.5s;
}
.category-name {
  color: var(--main-color);
  font-size: 16px;
  font-family: "Tajawal-Medium";
  transition: 0.5s;
  display: flex;
  white-space: nowrap;
}
.category-name:hover {
  color: var(--main-hover);
  text-decoration: none;
}
.category-block-link:hover .search-list-icon {
  background-color: var(--main-hover);
}
.category-icon {
  transition: 0.5s;
}
.category-block-link:hover .category-icon {
  filter: brightness(0) invert(1);
}
.category-block-link:hover .category-name {
  color: var(--main-hover);
}

/*                          main-banner                            */

/*                       cities-section                         */
.cities-section {
  padding: 0 0 77px;
}
.cities-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px 30px;
}
.city-block {
  position: relative;
}
.city-block-img {
  width: 100%;
  overflow: hidden;
}
.city-block-image {
  transition: 0.5s;
  width: 100%;
}
.city-block-img-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 22%,
    rgba(33, 33, 33, 1) 80%
  );
  display: flex;
  align-items: flex-end;
  padding-bottom: 25px;
}
.city-title {
  color: #fff;
  font-size: 16px;
  font-family: "Tajawal-Bold";
  text-align: center;
  display: block;
  width: 100%;
  transition: 0.5s;
}
.city-block-link:hover .city-block-image {
  transform: scale(1.2);
}
.city-block-link:hover .city-title{
  color: var(--main-hover);
}

/*                            cities-section               */

/*                       statistics section                            */

.statistics-section {
  background-color: var(--main-color);
  padding: 57px 0 63px;
}

.counter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
}
.count {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 width: 140px;
}
.counter-number {
  color: var(--main-hover);
  font-size: 48px;
  font-family: "Tajawal-Bold";
  text-align: center;
  margin: 0;
}
.counter-name {
  color: #fff;

  font-size: 18px;
  font-family: "Tajawal-Medium";
  margin: 0 0 17px;
  padding: 0;
  display: block;
  text-align: center;
}

/*                      statistics section                           */
.suppliers-section {
  padding: 84px 0 123px;
  position: relative;
}
.suppliers-section-title {
  text-align: center;
  margin: 0 0 28px;
  font-size: 24px;
  font-family: "Tajawal-Bold";
  width: 100%;
}
.supplier-block {
  border: 2px solid rgb(242, 242, 242);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 8px ;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 17px;
}
.supplier-img {
  width: 247px;

  margin-inline-end: 30px;
}
.supplier-image {
  width: 100%;
}
.supplier-name-block {
  text-align: start;
  margin: 0 0 12px;
}
.supplier-name {
  color: var(--main-color);
 
  font-size: 18px;
  font-family: "Tajawal-Bold";
  transition: 0.5s;
  display: block;
}
.supplier-name:hover {
  color: var(--main-hover);
}
.location-badge {
  border: 2px solid rgb(230, 230, 230);
  position: relative;
}

.location-badge:before {
  content: "";
  font-weight: 900;
  font-family: "Line Awesome Free";
  margin-inline-end: 3px;
  font-size: 18px;
}
.location-badge:hover{
  color: var(--main-hover);
  border: 2px solid var(--main-hover);
}

.badges {
  font-size: 14px;
  color: rgb(102, 102, 102);
  display: flex;
  padding: 0 13px;
  border-radius: 5px;
  height: 36px;
 align-items: center;
 transition: 0.5s;
}
.other-badges {
  background-color: #f2f2f2;
 border: 2px solid transparent;
  align-items: center;
}
.other-badges:hover{
  color: var(--main-hover);
  border: 2px solid var(--main-hover);
  background-color: #fff;
}
.supplier-tags {
    
  list-style: none;
  margin: 0 0 15px;
  padding: 0;
      width: 100%;
      max-width: 100%;
    display: flex;
    align-items: center;
    }
    .supplier-tags li{
      margin-inline-end: 5px;
    }
.supplier-text {
  color: var(--main-color);
  line-height: 1.625;
  font-size: 16px;
  margin: 0 0 18px;
  text-align: start;
  max-width: 790px;
}
.contact-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact-link {
  background-color: var(--main-hover);
}
.same-link {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
  font-family: "Tajawal-Bold";
  transition: 0.5s;
  height: 45px;
  border-radius: 22.5px;
  margin-inline-end: 5px;
 
}
.contact-link:hover {
  color: #fff;
  background-color: var(--main-color);
}
.ring-icon {
  color: #fff;
  font-size: 24px;
  margin-inline-end: 5px;
}
.other-contact-links {
  background-color: var(--main-color);
}
.other-contact-links:hover {
  background-color: var(--main-hover);
  color: #fff;
}

.visitors {
  position: absolute;
  top: -23px;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-family: "Tajawal-Medium";
  padding: 13px 25px;
  border-radius: 25px;
  height: 50px;
  text-align: center;
  white-space: nowrap;
}

/*                                   footer                            */
.footer {
  padding: 60px 0 40px;
  position: relative;
  background: var(--main-color);
}

.footer-cont {
  z-index: 9;
  position: relative;
}

.nav-foot-cont {
  text-align: start;
}
.nav-foot-header {
  font-size: 15px;
  font-family: "Tajawal-Bold";

  color: #fff;
  margin: 0 0 38px;
  text-align: start;

  position: relative;
}
.nav-foot-header:after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: var(--main-hover);
  position: absolute;
  bottom: -12px;
  inset-inline-start: 0;
}
@media (min-width: 991px) {
  .nav-wrap {
    display: flex;
    flex-direction: column;
    max-height: 402px;
    flex-wrap: wrap;
   
  }
}
.nav-foot-li{
  max-width: 190px;
  width: 180px;
}
.nav-foot-link {
  color: rgb(155, 155, 155);
  font-size: 14px;
 
  display: inline-flex;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}

.nav-foot-link:hover {
  color: var(--main-hover);
}

.copy-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  background-color: rgb(28, 28, 28);
}
.copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 13px;

  color: #fff;
}



@media (max-width: 767px) {
  .nav-foot-cont {
    text-align: start;
    margin-bottom: 20px;
  }
 

  
 
}

/*                                   footer                            */

/*                                    media query                                    */
/*                    menu in phone size                      */

@media (max-width: 991px) {
  body{
    overflow-x: hidden;
  }
  .nav-foot{
    display: flex;
    flex-direction: column;
    max-height: 1265px;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .nav-foot-li{
    width: 159px;
    max-width: 159px;
  }
  .register-link {
    width: 120px;
    height: 35px;
    order: -1;
    font-size: 13px;
    margin-inline-start: 0;
  }
  .register-link:after {
    width: 123px;
    height: 38px;
  }
  .count{
    width: auto;
  }
  .navgition {
    display: block;
    position: fixed;
   
    padding-top: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    clip-path: circle(10.9% at 16% 16%);
    background-color: rgba(255, 255, 255, 0.99);
    transition: 0.4s;
    z-index: 8;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }

  .reset-left {
    left: 0;
    top: 0;
    clip-path: circle(139.6% at 9% 15%);
    visibility: visible;
    opacity: 1;
  }
  .cities-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .nav-header .big-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    padding: 55px 20px;
    margin-inline-start: 0;
  }
  .nav-header li {
    margin: 0;
  }
  .search-input {
    width: 100%;
    font-size: 14px;
    height: 50px;
    padding-inline-start: 15px;
    padding-inline-end: 49px;
    font-size: 12px;
  }
  .search-input::placeholder {
    font-size: 12px;
  }
  .search-btn {
    font-size: 17px;
    width: 35px;
    height: 35px;
  }
  .supplier-name{
    text-align: center;
  }
  .main-banner-img{
    min-height: 580px;
    height: auto;
  }
  .main-banner-img-cover{
    min-height: 580px;
    height: auto;
  }
  .main-banner-image{
    min-height: 580px;
    height: auto;
  }
 
  .search-lists-div {
    flex-wrap: wrap;
  }
  .cat-slider .swiper-wrapper {
    display: flex;
    grid-gap: 0;
  }

  .most-search-div {
    width: 100%;
  }
  .caption-title {
    margin-top: 150px;
  }

  .caption-title {
    font-size: 24px;
    margin-bottom: 15px;
    white-space: normal;

    width: 100%;
    display: flex;
    justify-content: center;
  }
  .search {
    width: 90%;
    margin-bottom: 65px;
  }
  .most-search-title {
    font-size: 18px;
  }
  .cat-slider .swiper-pagination {
    position: relative;
    width: 100%;
    bottom: -28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .cat-slider .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    opacity: 0.502;
    margin: 0 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none !important;
  }
  .cat-slider .swiper-pagination .swiper-pagination-bullet:hover {
    background-color: var(--main-hover);
  }
  .cat-slider
    .swiper-pagination
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--main-hover);
    opacity: 1;
  }
  .suppliers-section {
    padding: 50px 0;
  }
  .suppliers-section-title {
    font-size: 20px;
  }
  .supplier-block {
    flex-wrap: wrap;
    padding: 8px 20px;
    flex-direction: column;
  }
  .supplier-text {
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    text-align: center;
  }

  .visitors{
    height: 40px;
    font-size: 16px;
}
  .contact-links {
   justify-content: center;
   margin-bottom: 25px;
  }
  .same-link {
    margin-inline-end: 10px;
    padding: 0;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  .ring-icon {
    font-size: 20px;
    margin-inline-end: 0;
  }

  .badges {
    margin-bottom: 5px;
    font-size: 11px;
    padding: 0 5px;
    height: 28px;
  }
  .supplier-img {
    margin-inline-end: 0;
    margin-bottom: 15px;
  }
  .supplier-tags{
    flex-wrap: wrap;
    margin: 0 0 8px;
   justify-content: center;
  }
 
  .same-link span{
    display: none;
  }

  /*                    menu in phone size                      */
}
/*                                    media query                                    */

/*                                 arrow-top                           */
.arrow-top {
  position: fixed;
  bottom: 10px;
  inset-inline-start: 10px;
 
  display: none;
  z-index: 10;
  text-decoration: none !important;
}
.arrow-top-icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.302);

  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.arrow-top-icon:hover {
  background-color: #fff;
  color: var(--main-color);
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px;
  }
}
@media (max-width: 767px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .cats-div{
    max-height: 600px;
  }
  .nav-header .img-logo img {
    max-width: 190px;
  }
  .nav-wrap{
    max-height: 520px;
  }
  .cat-slider .swiper-wrapper {
    grid-gap: 0 15px;
  }
  .cities-section {
    padding-top: 60px;
  }

  .same-link {
    font-size: 12px;
  }
 

  .nav-header li {
    margin: 0 10px;
  }
  .nav-header li a {
    font-size: 14px;
  }
  .breadcrumb-head {
    margin: 110px 0 21px;
  }
  .intro-text {
    margin-inline-end: 30px;
  }
  .production-section .intro-text {
    margin-inline-end: 0;
    margin-inline-start: 30px;
  }
  .product-block-text {
    margin-inline-start: 30px;
  }
  .even-record .product-block-text {
    margin-inline-start: 0;
    order: -1;
    margin-inline-end: 30px;
  }
  .fit-out-slider-1 {
    margin-top: 0;

    order: 2;
    margin-inline-start: 30px;
  }
  .fit-out-slider-2 {
    margin-top: 0;

    margin-inline-end: 30px;
  }
  .fit-out-slider-3 {
    margin-top: 0;

    order: 2;
    margin-inline-start: 30px;
  }
  .fit-out-slider-4 {
    margin-top: 0;

    margin-inline-end: 30px;
  }
  .fit-out-slider-5 {
    margin-top: 0;

    order: 2;
    margin-inline-start: 30px;
  }
  .fit-out-slider-6 {
    margin-top: 0;

    margin-inline-end: 30px;
  }
  .fit-out-slider-7 {
    margin-top: 0;

    order: 2;
    margin-inline-start: 30px;
  }
  .fit-out-slider-8 {
    margin-top: 0;

    margin-inline-end: 30px;
  }
  .fit-out-section .intro-text {
    margin-inline-start: 0;
  }
  .single-product-gallery {
    grid-auto-rows: 112px;
  }
  .single-product-text {
    max-width: 400px;
    margin-inline-start: 30px;
  }
  .single-project-text {
    margin-inline-end: 30px;
  }

  .faq-tabs {
    width: 300px;
  }
  .tab-content {
    width: 650px;
  }
  .faq-block {
    width: 100%;
  }
  .faqanswer {
    width: 100%;
  }
  .contacts-bar {
    gap: 10px;
  }
  .contact-block {
    width: 300px;
  }
  .contact-info {
    text-align: center;
  }
  .solution-icon img {
    max-width: 60%;
  }
}

@media (max-width: 991px) {
  body {
    position: relative;
  }

  .show-icons {
    position: relative;
    font-size: 24px;

    background-color: transparent;
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .show-icons .menu-bars {
    position: relative;
    z-index: 8;

    display: flex;
    align-items: center;
    margin-inline-start: 10px;
    transition: all 0.3s ease-in-out;
  }
  .show-icons .menu-bars .bar {
    color: var(--main-color);
  }
  .show-icons .menu-bars .times {
    color: var(--main-color);
  }
  .fixed-header .show-icons .menu-bars .bar {
    color: var(--main-hover);
  }

  .nav-header .img-logo img {
    max-width: 130px;
  }
  .nav-header li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
  }
  .show-icon {
    display: block;
  }
  .hide-icon {
    display: none;
  }
  .menu-name:after {
    font-size: 13px;
    margin-inline-start: 3px;
    transition: 0.5s;
    position: absolute;
    inset-inline-end: 0;
  }
  .cats-dispaly {
    position: static;
    display: flex;
    opacity: 1;
    visibility: visible;
    transition: none;
    box-shadow: none;
    border-radius: 0;
    left: 0;
    right: 0;
    transform: translateX(0);
    background-color: transparent;
  }

  .cats-dispaly .cat-li a {
    line-height: 20px;
  }
  .menu-name.active:after {
    transform: rotate(-180deg);
  }
  .cats-div {
    align-items: start;
    padding: 0;
  }
  .big-menu li {
    margin-bottom: 22px;
    width: 100%;
    overflow-x: hidden;
    display: block;
  }

  

  .cats-dispaly .has-level-2:first-child {
    padding-top: 0;
  }

  .nav-header li a {
    display: none;
  }

  .counter-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .counter-number {
    font-size: 40px;
  }

  .cats-dispaly .cat-li a {
    text-align: start;
    display: block;
  }

  .top-header .cats-dispaly .cat-li a:hover,
  .cat-li:hover > .cat-anchor {
    color: var(--main-hover);
  }

  .footer:after {
    top: 0;
    padding-top: 0;
  }
  .slide-menu-2 .first-level-link {
    font-size: 16px;
    
    display: block;
    max-width: 100%;
    width: 100%;
  }
  .cat-anchor{
    padding-bottom: 20px;
  }
  .cats-div {
    max-height: 100%;
  }
  .search-list-icon{
    width: 100px;
    height: 100px;
  }
  .category-icon{
    width: 45px;
  }
  .category-name{
    font-size: 14px;
  }
}
/* @media (min-width: 992px) {
  .slide-menu:hover .cats-dispaly {
    opacity: 1;
    visibility: visible;
    z-index: 99;
  }
} */

@media only screen and (max-width: 994px) and (min-width: 768px) {
  .nav-foot{
    max-height: 800px;
  }
  .cities-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .all-suppliers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .same-link {
    font-size: 11px;
  }

  .nav-foot-link {
    font-size: 13px;
  }
  .supplier-block{
    margin-bottom: 0;
  }
}
